In [2]:
!pip3 install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.18.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 1.2 MB/s eta 0:00:01
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mlxtend) (41.2.0)
Requirement already satisfied: scikit-learn>=0.20.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: scipy>=1.2.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mlxtend) (1.5.4)
Requirement already satisfied: pandas>=0.24.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mlxtend) (1.1.4)
Requirement already satisfied: numpy>=1.16.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mlxtend) (1.19.4)
Requirement already satisfied: matplotlib>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mlxtend) (3.3.3)
Requirement already satisfied: joblib>=0.13.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/oms1226/Library/Python/3.7/lib/python/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: six in /Users/oms1226/Library/Python/3.7/lib/python/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /Users/oms1226/Library/Python/3.7/lib/python/site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.18.0

In [4]:
import mlxtend
import numpy as np
import pandas as pd

In [6]:
data = np.array([
    ['우유', '기저귀', '쥬스'],#0번의 거래
    ['양상추', '기저귀', '맥주'],#1번의 거래
    ['우유', '양상추', '기저귀', '맥주'],#2번의 거래
    ['양상추', '맥주']#3번의 거래
])
data

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  """

array([list(['우유', '기저귀', '쥬스']), list(['양상추', '기저귀', '맥주']),
       list(['우유', '양상추', '기저귀', '맥주']), list(['양상추', '맥주'])],
      dtype=object)

## Apriori 알고리즘

In [8]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
print(te_ary)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

[[ True False False  True  True]
 [ True  True  True False False]
 [ True  True  True  True False]
 [False  True  True False False]]

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [9]:
%%time
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5, use_colnames=True)

CPU times: user 10.3 ms, sys: 2.83 ms, total: 13.1 ms
Wall time: 15.3 ms

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (기저귀, 맥주)
5     0.50      (기저귀, 양상추)
6     0.50       (우유, 기저귀)
7     0.75       (양상추, 맥주)
8     0.50  (기저귀, 양상추, 맥주)

In [16]:
from mlxtend.frequent_patterns import association_rules
association_rules(apriori(df, min_support=0.5, use_colnames=True), metric="confidence", min_threshold=0.5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(기저귀),(맥주),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
1,(맥주),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
2,(기저귀),(양상추),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
3,(양상추),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
4,(우유),(기저귀),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
5,(기저귀),(우유),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
6,(양상추),(맥주),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
7,(맥주),(양상추),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
8,"(기저귀, 양상추)",(맥주),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
9,"(기저귀, 맥주)",(양상추),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
10,"(양상추, 맥주)",(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
11,(기저귀),"(양상추, 맥주)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
12,(양상추),"(기저귀, 맥주)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
13,(맥주),"(기저귀, 양상추)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50

## FP-Growth 알고리즘

In [10]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [11]:
%%time
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.5, use_colnames=True)

CPU times: user 2.53 ms, sys: 372 µs, total: 2.9 ms
Wall time: 2.56 ms

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (기저귀, 맥주)
5     0.50      (기저귀, 양상추)
6     0.50  (기저귀, 양상추, 맥주)
7     0.50       (우유, 기저귀)
8     0.75       (양상추, 맥주)

In [12]:
from mlxtend.frequent_patterns import association_rules
association_rules(fpgrowth(df, min_support=0.5, use_colnames=True), metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(기저귀, 양상추)",(맥주),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
1,"(기저귀, 맥주)",(양상추),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
2,(우유),(기저귀),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
3,(양상추),(맥주),0.75,0.75,0.75,1.0,1.333333,0.1875,inf
4,(맥주),(양상추),0.75,0.75,0.75,1.0,1.333333,0.1875,inf